@use "./dist/variables" as *; // ✅ Generated design tokens
@use "./abstracts/mixins" as *; // SCSS mixins
@use "./base/typography" as *; // Typography base styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  flex-shrink: 0;
}

#home,#about,#skills,#projects {
  width: 100%;
  height: 90dvh;
  padding: $spacing-16;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-margin-top: 10dvh;
}
