@use "abstracts/media-mixins" as media;

.experience-card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: $spacing-24 $spacing-32;
  border: 1px solid $color-border;
  border-radius: $spacing-8;
  min-height: 400px;
  justify-content: flex-start;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: $spacing-16;
    gap: $spacing-8;
    flex-wrap: wrap;
    justify-content: space-between;

    // Tablet and up: row layout
    @include media.media-up(md) {
      flex-direction: row;
      align-items: center;
      gap: $spacing-8;
    }
  }

  &__details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: $spacing-8;
    @include media.media-up(md) {
      align-items: center;
      gap: $spacing-8;
    }
  }

  &__icon-container {
    margin-top: $spacing-4;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  &__duration {
    white-space: nowrap;
  }
}
