@use "abstracts/media-mixins" as media;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: $spacing-48;

  &__title {
    margin-bottom: $spacing-32;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  &__slider {
    width: 100%;
    max-width: 1200px;
    padding: 0 $spacing-40;
    margin: 0 auto;

    @include media.media-up(md) {
      padding: 0 $spacing-48;
    }

    :global(.keen-slider__slide) {
      height: 100%;
      display: flex;
      align-items: stretch;
    }
  }
}
