.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-8 $spacing-16;
  border: 1px solid $color-text-primary;
  border-radius: $spacing-4;
  font: inherit;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  background: $color-text-primary;
  color: $color-background;

  &:hover {
    background: $color-background;
    color: $color-text-primary;

    svg {
      color: $color-text-primary;
    }
  }

  svg {
    transition: color 0.2s, fill 0.2s;
  }

  &:focus {
    outline: 2px solid $color-text-secondary;
    outline-offset: 2px;
  }

  &:disabled {
    background: $color-border;
    color: $color-text-secondary;
    cursor: not-allowed;
  }

  &__icon-left,
  &__icon-right {
    display: inline-flex;
    align-items: center;
  }

  &__icon-left {
    margin-right: 0.5em;
  }

  &__icon-right {
    margin-left: 0.5em;
  }

  &__content {
    display: inline-block;
  }
}

.button--primary {
  background: $color-text-primary;
  color: $color-background;
}

.button--secondary {
  background: $color-background;
  color: $color-text-primary;
  border: 1px solid $color-text-primary;

  &:hover {
    background: $color-text-primary;
    color: $color-background;

    svg {
      color: $color-background;
      fill: $color-background;
    }
  }
}

.button--icon {
  background: $color-background;
  color: $color-text-primary;
  padding: $spacing-16;
  border: 1px solid $color-text-primary;
}
