@use "abstracts/media-mixins" as media;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: $spacing-48;

  &__title {
    margin-bottom: $spacing-32;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: $spacing-32;
    width: 100%;
    max-width: 1200px;
    padding: 0 $spacing-16;

    @include media.media-up(md) {
      gap: $spacing-48;
      padding: 0 $spacing-24;
    }
  }
}
